.right-ul a.active {
    background-color: grey;
  }


  
  body {
  margin: 0 auto;
  width: 70%;
    }

    .right-ul a.active {
        background-color: grey;
      }
    
    
      nav {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
      }
    
      .right-ul {
        list-style-type: none;
        margin-right:20px;
        padding: 0;
        overflow: hidden;
      }
    
    
      nav li {
        display: inline-block;
      }
    
      nav li a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        font-size: px;
        font-family: 'Montserrat', sans-serif; 
      }

      nav li a .active {
        background-color: red;
      }
    


  .icons{
    display: flex;
    flex-direction: horizontal;
    align-items: center;
  }

  .Intro{
    padding-left: 60px;
    padding-right:60px;
    margin-top: 10px;
    height: 275px;
  }

  .Me{
    padding-left: 60px;
    padding-right:60px;
  }

  .Me-Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }


  .About-Me-link{
    text-decoration: none; color: #E57200;
  }

  .research{
    padding-left: 60px;
    padding-right:60px;
  }

  .Research-Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }

  .right-ul a{
    transition: transform 0.3s ease;
  }

  .right-ul a:hover{
    transform: translateY(-5px);
  }

  .icons i{
    transition: transform 0.3s ease;
  }

  .icons i:hover{
    transform: translateY(-5px);
  }

  #cv {
    position: relative;
    cursor: pointer;
  }
  
  /* Styles for the line */
  #cv::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3498db;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-out;
    display: block; /* Ensures the line stays within the anchor */
  }
  
  /* Animation on hover */
  #cv:hover::after {
    width: 100%;
  }
