.right-ul a.active {
    background-color: grey;
  }


  
  body {
  margin: 0 auto;
  width: 70%;
    }

    .right-ul a.active {
        background-color: grey;
      }
    
    
      nav {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
      }
    
      .right-ul {
        list-style-type: none;
        margin-right:20px;
        padding: 0;
        overflow: hidden;
      }
    
    
      nav li {
        display: inline-block;
      }
    
      nav li a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        font-size: px;
        font-family: 'Montserrat', sans-serif; 
      }
    


  .icons{
    display: flex;
    flex-direction: horizontal;
    align-items: center;
  }

  .Intro{
    padding-left: 60px;
    padding-right:60px;
    margin-top: 10px;
    height: 275px;
  }

  .Me{
    padding-left: 60px;
    padding-right:60px;
  }

  .Me-Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
  }

