.right-ul a.active {
    background-color: grey;
  }


  
  body {
  margin: 0 auto;
  width: 70%;
    }

    .right-ul a.active {
        background-color: grey;
      }
    
    
      nav {
        background-color: #333;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 9999;
      }
    
      .right-ul {
        list-style-type: none;
        margin-right:20px;
        padding: 0;
        overflow: hidden;
      }
    
    
      nav li {
        display: inline-block;
      }
    
      nav li a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        font-size: px;
        font-family: 'Montserrat', sans-serif; 
      }

      nav li a .active {
        background-color: red;
      }
    


  .icons{
    display: flex;
    flex-direction: horizontal;
    align-items: center;
  }

  .Intro{
    padding-left: 60px;
    padding-right:60px;
    margin-top: 10px;
    height: 265px;
  }

  .Me{
    padding-left: 60px;
    padding-right:60px;
  }

  .Me-Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    margin-top: 5px;
  }


  .About-Me-link{
    text-decoration: none; color: #E57200;
  }

  .Research-Text-link{
    text-decoration: none; color: #E57200;
  }

  .research{
    padding-left: 60px;
    padding-right:60px;
  }
  .gadget{
    padding-left: 60px;
    padding-right:60px;
  }
  .Research-Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  .Gadget-Text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

  /* .right-ul a{
    transition: transform 0.3s ease;
  }

  .right-ul a:hover{
    transform: translateY(-5px);
  }

  .icons i{
    transition: transform 0.3s ease;
  }

  .icons i:hover{
    transform: translateY(-5px);
  } */

  .icons i {
    position: relative;
    cursor: pointer;
  }
  
  /* Styles for the line */
  .icons i::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #3498db;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease-out;
    display: block; /* Ensures the line stays within the anchor */
  }
  
  /* Animation on hover */
  .icons i:hover::after {
    width: 100%;
  }

  .research-group{
    font-size: 30px;
    color: #E57200;
  }

  .research-topic{
    font-size: 20px;
  }
  .back-button{
    margin-top: 15px;
    margin-left:40px;
  }

/* CSS */
.back-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: #E57200;
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.website-link{
  margin-left:13px;
  text-align: left;
  display: block;
  font-family: Raleway;
  color: #E57200;
  margin-bottom: 5px;
  font-size: 15px;
}

.research-title{
  margin-top: 5px;
  margin-left: 13px;
  text-align: left;
  display: block;
  font-family: Raleway;
  color: black;
  margin-bottom:6px;
  font-size: 16px;
  margin-right: 15px;
  font-weight: bolder;
}

.award{
  margin-left:13px;
  text-align: left;
  display: block;
  font-family: Raleway;
  color: #E57200;
  font-size: 16px;
  margin-bottom: 3px;
}
.row {
  display: flex;
}
